body {
  font-family:monospace;
}

#colors {
  min-width:33vw;
max-width: 50vw;
min-height:200px;
max-height:auto;
background-color: #fff;
position: relative;
border-radius: 5px;
display:flex;
flex-direction:column;
box-shadow: 1px 2px 3px var(--box-shadow-color);
}

#colors > p {
  word-break:break-all;
}
