#container {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

#container > * {
  align-self:center;
}

a {
  text-decoration:none;
  color:inherit;
  transition:.25s;
}

a > div {
  padding:5px;
  transition:.25s;
}

a > div:hover, a:hover{
  background:rgba(255,200,0,.25);
  transition:.25s;
}
