:root{
  --box-shadow-color: #666;
}

body {
  background-color: #fff;
  font-family:roboto,sans-serif;
  font-weight:100;
}

a {
  text-decoration: none;
}

#container{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

#header{
  font-size: 1em;
  color:transparent;
  -webkit-text-stroke: 1px white;
}

#quote_box{
  width:33vw;
  max-height:auto;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 3px var(--box-shadow-color);
}

#quote{
  align-self:flex-start;
  padding-left: 5px;
}

#attribution, #timestamp{
  position: relative;
  align-self: flex-end;
  padding-right:5px;
}

#attribution {
  font-weight: 900;
}

#new_quote {
  align-self: flex-end;
  padding-top:15px;
  padding-right:5px;
  transition:.25s ease
}

#new_quote:hover, a > #timestamp:hover, #retweet:hover > a {
  transition:.25s ease;
  color: orange!important;
  cursor:pointer;
}

#new_quote > * {
  display:inline;
}

#new_quote > svg {
  margin-bottom: 1.5px;
}
