<head>
  <link rel="stylesheet" href="style.css">

</head>
<div id="app">
  {{message}}
</div>
<div id="app-2">
<span v-bind:title="message">Hover for Data info.</span>
</div>
<div id="app-3">
<span v-if="seen">Is this seen?</span>
</div>
<div id="app-4">
<ol>To-do<li v-for="todo in todos">{{todo.text}}</li></ol>
</div>
<div id="app-5">
  <p>{{message}}</p>
  <button v-on:click="reverseMessage">Reverse</button>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
</div>
